.top_banner {
	height: 80px;
	background-color: #000;
}

.top_banner .w {
	position: relative;
}

.top_banner .close {
	width: 20px;
	height: 20px;
	display: block;
	text-align: center;
	line-height: 20px;
	background-color: rgba(255,255,255,.4);
	color: #fff;
	position: absolute;
	right: 0;
	top: 10px;
	cursor: pointer;
}
.top_nav {
	height: 30px;
	border-bottom: 1px solid #ccc;
	background-color: #e5e5e3;
	line-height: 30px;
}
.left_nav{
	float: left;
}

.right_nav li{
	float: right;
}
.right_nav .line{
	width: 1px;
	height: 12px;
	background-color: #ccc;
	margin: 9px 10px;
}
.m_logo {
	height: 105px;

}
.m_logo {
	margin-top: 25px;
}
.search_box {
	margin-top: 25px;
	margin-left: 210px;
	border: 1px solid red;
	position: relative;
}
.search_box  input:nth-child(1) {
	width: 400px;
	height: 35px;
	padding-left: 5px;
	float: left;
}
.search_box  input:nth-child(2) {
	width: 60px;
	height: 35px;
	background-color: red;
	float: left;
}
.icon-sousuo {
	position: absolute;
	top: 50%;
	right: 22px;
	margin-top: -8px;

	color: #fff;
}
.gouwu {
	width: 188px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	border: 1px solid #ccc;
	margin-top: 25px;
	margin-right: 20px;
	position: relative;
}
.keywords{
	margin-left: 380px;
	margin-top: 5px;
}
.keywords li{
	float: left;
	font-size: 8px;
	margin-right: 10px;
}
.zhuti_nav{
	height: 26px;
	border-bottom: 2px solid red;
}
.product{
	width: 210px;
	height: 46px;
	background-color: red;
	float: left;
	
}
.p_title{
	width: 100%;
	height: 100%;
	line-height: 46px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: white;
}
.p_list{
	width: 100%;
	height: 460px;
	background-color: red;

}
.p_list li{
	height: 31px;
	line-height: 31px;
	color: white;
	padding-left: 5px;
}
.p_list li a{
	float: left;
	color: white;
}
.p_list li span{
	float: right;
	color: white;
}
.p_list li:hover{
	background-color: white;
}
.p_list li:hover a,
.p_list li:hover span {
	color: red;
}
.heng_list{
	margin-left:300px;
	margin-top: 22px;
}
.heng_list li{
	float: left;
	font-size: 16px;
	font-weight: 700;
	margin-right: 40px;

}



